.Availability {
  tbody {
    tr {
      display: grid;
      grid-template-columns: 200px repeat(6, 80px);
      grid-gap: 15px;
      border-bottom: 1px solid darkgrey;
      padding: 10px 0px;
      th {
      }
      td, th {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:nth-of-type(1) {
          justify-content: flex-start;
          text-align: left;
        }
      }

      .highlight { 
        background: #02A364;
        color: white;
      }
    }
  }
}