.UploadForm {
  width: 600px;
  margin: 0px auto;
  display: flex; }
  .UploadForm label {
    color: white; }
  .UploadForm form {
    height: 50px;
    margin: auto auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, auto); }
    .UploadForm form span {
      grid-column: span 5;
      min-height: 30px;
      padding-top: 8px;
      display: flex;
      justify-content: center; }
      .UploadForm form span.neg {
        color: red; }
      .UploadForm form span.pos {
        color: #34D27C; }
    .UploadForm form input,
    .UploadForm form label {
      height: 50px;
      box-sizing: border-box; }
    .UploadForm form label {
      display: grid;
      align-items: center; }
    .UploadForm form input {
      font-size: 10px;
      text-align: center; }
    .UploadForm form input[type="date"] {
      transition: 1s;
      padding: 0px 0px 0px 10px; }
      .UploadForm form input[type="date"]:focus {
        border: 3px solid #02A364; }
    .UploadForm form input[type="submit"] {
      width: 200px;
      background: white;
      border: 1px solid black;
      transition: 0.3s;
      font-size: 20px;
      border-radius: 3px; }
      .UploadForm form input[type="submit"]:hover {
        color: white;
        background: #02A364; }
